:root {
  overflow-x: hidden;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.link {
  color: inherit;
  text-decoration: none;
  font-size: 15px;
  padding-inline: 10px;
  text-transform: capitalize;
}

.center-container {
  text-align: "center";
  padding-top: "5rem";
}

.flex-coulm-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.view-more {
  color: #db0000;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-bottom: 1rem;
  cursor: pointer;
}

.view-more:hover {
  color: white;
}

.arrows {
  position: absolute;
  content: "";
  top: 50%;
  font-size: 60px !important;
  color: #db0000;
  transform: translate(-50%, -50%);
  cursor: pointer;
  outline: none;
}

.arrow-left {
  left: 25px;
}

.arrow-right {
  right: -32px;
}
