@use "./utlties/normalize";
@use "./utlties/colors" as CO;
@use "./utlties/typegraphy" as TO;
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "roboto", sans-serif;
  background-color: CO.$bg-color;
  color: CO.$text-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: CO.$text-color;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.lading-text {
  color: CO.$primary-color;
}
